.bundle/
bundled/
debian/*.debhelper.log
debian/*.substvars
debian/hs-agent/
debian/hs-vz-config/
debian/files
test/reports
bin/edit_json.rb
bin/erubis
bin/sow
bin/prettify_json.rb
bin/rackup
bin/rake
bin/resque
bin/resque-web
bin/specrb
bin/testrb
bin/tilt
bin/uuid
debian/hs-agent.postinst.debhelper
debian/hs-agent.postrm.debhelper
build
tmp
