#!/usr/bin/make -f
# -*- makefile -*-

PRODUCT=hs-agent
PRODUCT_ROOT=usr/lib/hs/agent
DEB_ROOT=$(CURDIR)/debian/
DESTPATH=$(DEB_ROOT)$(PRODUCT)/$(PRODUCT_ROOT)

BUNDLE=ruby1.9.1 -S bundle

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_clean:
	dh_testdir
	rm -rf debian/tmp tmp test/reports bundled .bundle
	dh_auto_clean
	dh_clean

override_dh_auto_install:
# product files
	install -d $(DESTPATH)
	cp -av Gemfile Gemfile.lock Rakefile bin lib config gems $(DESTPATH)/
	cd $(DESTPATH) && $(BUNDLE) install --path=bundled
# run tests against target and preserve results
	cp -r test $(DESTPATH)/
	-cd $(DESTPATH) && $(BUNDLE) exec rake test
	mv $(DESTPATH)/test/reports test/
	rm -rf $(DESTPATH)/test $(DESTPATH)/config/development.rb $(DESTPATH)/config/test.rb
	mkdir -p $(DEB_ROOT)$(PRODUCT)/etc/hs/agent
	for i in production.rb iptables-local.erb vz.conf.erb; do \
		mv $(DESTPATH)/config/$$i $(DEB_ROOT)$(PRODUCT)/etc/hs/agent/; \
		dh_link -p$(PRODUCT) etc/hs/agent/$$i $(PRODUCT_ROOT)/config/$$i; \
	done
# create state directory for http gateway
	install -d $(CURDIR)/debian/var/lib/hs/
# Copy openvz config files
	cp -av $(CURDIR)/hs-vz-config $(CURDIR)/debian/

%:
	dh $@

